extends layout

block content
  h1= title
  p 
    a(href='https://www.fitbit.com/oauth2/authorize?response_type=code&client_id=227Z6Z&redirect_uri=https://76798aa7.ngrok.io/loggedin&scope=activity') Login